<section class="feature">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Mengapa metode pembelajaran online</h1>
                <p>Belajar online dengan Korsus dan keterampilan yang Anda butuhkan untuk menemukan keseimbangan kerja-belajar yang cocok untuk Anda</p>
                <a href="#" type="button" class="btn btn-primary">Get Started</a>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="icon"><i class="fa-sharp fa-solid fa-square"></i></div>
                    <div class="text">
                        <h3>Waktu yang flexibel</h3>
                        <p>Waktu yang fleksibel adalah alat berharga yang dapat membantu Anda mengelola pekerjaan dan kehidupan pribadi Anda dengan lebih efektif, Dengan menggunakan waktu yang fleksibel, Anda dapat merencanakan hari dan minggu Anda dengan cara yang paling sesuai untuk Anda.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="icon"><i class="fa-sharp fa-solid fa-square"></i></div>
                    <div class="text">
                        <h3>Sertifikat</h3>
                        <p>Kursus sertifikot bisa menjadi cora yang untok mempelajari keterampilan dan pengetahuan baru, Mereka juga dapat memberi Anda kesempatan untuk di berbagai industr[ Sertifikat juga bisa menjadi cara yang bagus untuk menunjukkan keahlian don kualifikosi Anda kepada colon pernberi kerja.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="icon"><i class="fa-sharp fa-solid fa-square"></i></div>
                    <div class="text">
                        <h3>Tutor Expert</h3>
                        <p>Jika Anda sedang mencari tutor untuk membantu Anda dosar-dasar moto pelojaran pilihan Anda. Anda telah datang ke tempat yang tepat, Tutor adalah Ohli di bidangnga, dan mereka akan membantu Anda mempelajori informasi yang Ando butuhkan untuk lulus ujian dan mencapai tujuan Anda</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>