<header>
    <nav class="navbar navbar-dark navbar-expand-lg">
        <div class="container">
            <ul class="navbar-nav mr-auto">
                <a href="domain.tld" class="company navbar-brand nav-link">Company</a>
                <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a href="#feature" class="nav nav-link">Fitur</a></li>
                <li class="nav-item"><a href="#testimony" class="nav nav-link">Testimony</a></li>
                <li class="nav-item"><a href="#" class="button nav-link">Log in</a></li>
            </ul>
        </div>
    </nav>
</header>