<div class="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="heading">
                    <h1>Tingkatkan keterampilan Anda lebih cepat</h1>
                    <p>Sebuah platform pembelajaran berdasarkan pengetahuan praktis dengan mentor kelas dunia terbaik.</p>
                    <form>
                        <input type="email" class="" placeholder="Enter your email...">
                        <button class="float-right" type="submit"><b>Get Started</b></button>
                    </form>
                </div>
                <div class="slider testimony">
                    <div class="slide">
    
                        <div class="image">
                            <img src="{{ "/assets/img/user-profile.jpg" | relative_url }}" alt="" class="author">
                        </div>
                        <div class="content">
                            <h5><b>Username</b></h5>
                            <p>lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                        
                    </div>
                    <div class="slidebutton">
                        <div class="previous"><img src="{{ "/assets/img/left.svg" | relative_url }}" alt=""></div>
                        <div class="next"><img src="{{ "/assets/img/right.svg" | relative_url }}" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="{{ "/assets/img/heroillustration.svg" | relative_url }}" class="illustration float-right" alt="">
            </div>
            
        </div>
    </div>
</div>